* {
  margin: 0;
  padding: 0;
}

/* Editor */
.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-input {
  margin-top: 10vh;
  height: 80vh;
  width: 80vw;
}

.block {
  display: block;
}

.pop-up {
  width: 100vw;
  height: 100vh;
  background-color: red;
  color: white;
}

.alert {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: green;
}
